@using MvcAdmin.Model;
@{
    Layout = null;
    MAccountGroup m=ViewData["model"] as MAccountGroup;
}

<script type="text/javascript">
    function UpdAccountGroup() {
        $('#ff').form('submit', {
            url: "/Admin/Handle/UpdAccountGroup",
            onSubmit: function () {
                //进行表单验证
                //如果返回false阻止提交
                if ($("#ff input[name=groupName]").val() == "") {
                    alert('请填写分组名')
                    return false;
                }
                //alert('ok')
            },
            success: function (data) {
                var obj = jQuery.parseJSON(data)
                //alert(data)
                if (obj.success) {
                    alert('修改成功')
                    loadContent('/Admin/Home/AccountGroup')
                } else {
                    alert(obj.msg)
                }
            }
        });
    }

</script>
<span class="tip-title">修改账户分组</span>
<form class="f-layout" id="ff">
    <input type="hidden" name="id"  value="@m.Id"/>
<a href="javascript:;" class="app-button" onclick="loadContent('/Admin/Home/AccountGroup')">返回</a>
<div class="label">
<span>分组名:</span>
<input type="text" name="groupName" placeholder="分组名" value="@m.GroupName"/>
</div>
<div class="label">
<span>描述:</span>
<input type="text" name="des" placeholder="描述"  value="@m.Des"/>
</div>
<div class="label"><span>Subject :</span>
<input type="button" class="button" value="提交" onclick="UpdAccountGroup()"/>
</div>
</form >

