@{
    Layout = null;
}
<span class="tip-title">首页</span>

<ul class="describe">
<li>大家好，这是一个开源的后台，已经编写了基本的CMS管理。我给它取名：MvcAdmin</li>
<li>贡献与QQ群：159227188</li>
<li>欢迎大家开源自己的小作品</li>
<li>作者QQ：702295399</li>
</ul>
