@{
    Layout = null;
}
<script type="text/javascript">
    var editor;
    $(function () {
        editor = KindEditor.create('textarea[name="content"]');
    });
    function addBaseContent() {
        var name = $("#ff input[name=name]").val();
        var des = $("#ff input[name=des]").val();
        if (name == "") {
            alert('请填写区域名')
            return false;
        }
        if (des == "") {
            alert('请填写描述')
            return false;
        }
        var content = editor.html();
        if (content == "") {
            alert('请填写区域内容')
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/Admin/CMS/AddbaseContent",
            data: {
                name: name,
                des: des,
                content: content
            },
            dataType: "json",
            success: function (rsp) {
                if (rsp.success) {
                    alert("添加成功")
                    loadContent('/Admin/CMS/baseContentList')
                } else {
                    alert(rsp.msg)
                }
            },
            error: function (e, s, t) {
                //alert('error');
                //alert('网络错误');
            }
        });
        
    }
</script>
<span class="tip-title">添加自定义区域</span>
<form class="f-layout" id="ff" method="post">
<a href="javascript:;" class="app-button" onclick="loadContent('/Admin/CMS/baseContentList')">返回</a>
<div class="label">
<span>区域名:</span>
<input type="text" name="name" placeholder="区域名"/><strong></strong>
</div>
<div class="label">
<span>区域描述:</span>
<input type="text" name="des" placeholder="区域描述" />
</div>
<div class="label">
<span>区域内容:</span>
        <textarea name="content" style="width: 600px; height: 200px;"></textarea>
</div>
<div class="label"><span>Subject :</span>
<input type="button" class="button" value="提交" onclick="addBaseContent()"/>
</div>
</form >
